<!DOCTYPE html>
<html>
  <head>
    <% css :reset, :application, 'http://fonts.googleapis.com/css?family=Playfair+Display&v1' %>
    <%= css %>
  </head>
  <body>
    <div id='header'>
      <h1>FluxType</h1>
    </div>

    <div id='application'></div>

    <div id='javascript'>
      <% javascript 'https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js', 'raphael.min.js' %>
      <% if development? %>
        <% javascript :underscore, :constants, :keyboard, :page, :status, :manager, 'store-js' %>
        <script type='text/javascript'>
          require_js = function(scripts, callback){ callback.call(null, true); }
        </script>
      <% else %>
        <% javascript :require %>
      <% end %>

      <% javascript :application %>
      <%= javascript %>
    </div>
  </body>
</html>
