!!!
%html
  %head
    %title FluxType — Learning to type couldn't be more fun!
    %meta{ :name => "description", :content => "Learn to type while having fun. Beginners and experts will feel right at home learning and improving their typing skills." }
    %meta{ :name => "keywords", :content => "typing, education, typing education, learn to type, typing game, educational games" }
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    %link{ :rel => 'stylesheet', :type => 'text/css', :href => "#{ asset_path('application.css') }" }

  %body
    %script{ :type => 'text/javascript', :src => "#{ asset_path('application.js') }" }

