!!!
%html
  %head
    - css :reset, :application, 'http://fonts.googleapis.com/css?family=Playfair+Display&v1'
    = css
  %body
    %header#header
      %h1 FluxType

    %section#application

    %section#javascript
      - javascript 'https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js', 'raphael.min.js'
      - if development?
        - javascript :helpers, :constants, :keyboard, :keyboard_row, :keyboard_key, :display, :display_char, :display_observer
        :javascript
          require_js = function(scripts, callback){ callback.call(null, true); }
      - else
        - javascript :require

      - javascript :application
      = javascript
