<!DOCTYPE html>
<html>
  <head>
    <title>FluxType</title>
    <% css :reset, :application, 'http://fonts.googleapis.com/css?family=Playfair+Display&v1' %>
    <%= css %>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-29161571-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>
  <body>
    <div id='header'>
      <h1>FluxType</h1>
    </div>

    <div id='application'></div>

    <div id='javascript'>
      <% javascript 'https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js', 'raphael.min.js' %>
      <% if development? %>
        <% javascript :underscore, :constants, :keyboard, :page, :status, :manager, 'store-js' %>
        <script type='text/javascript'>
          require_js = function(scripts, callback){ callback.call(null, true); }
        </script>
      <% else %>
        <% javascript :require %>
      <% end %>

      <% javascript :application %>
      <%= javascript %>
    </div>
  </body>
</html>
